*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url("http://getwallpapers.com/wallpaper/full/f/b/b/1114138-gorgerous-sun-rise-wallpapers-1920x1080-for-pc.jpg");
    background-size: cover;
}
.clock{
    width: 100%;
    max-width: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1), 0px 10px 20px rgba(0,0,0,1);
    height: 24vh;
    padding: 20px;
}
.clock h1{
    font-size: 3.5rem;
    font-weight: 600;
}
.clock span{
    position: relative;
    top: -13%;
    margin-left: 10px;
    font-size: 20px;
    font-weight: 700;


}
@media screen (min-width:275px) and (max-width:400px){
    .clock{
        max-width:260px;
        padding :5px;
    }
    .clock h1{
        font-size: 2.4rem;
    }
}